@{
    ViewBag.Title = "Cocos";
}

<div class="row">
    <div class="col-md-12">
        <h2>Cocos 3.11 原计划：</h2>
        <p>
            1. New Memory Model - JSB （高优先级）不需要prd, 100%  -- 凌华彬。
        </p>
        <p>
            2. 3D 实时阴影 ShadowMap，不需要prd，100% -- 杨潇。
        </p>
        <p>
            3. 控件移动新增对齐参考线 （高优先级)，100%  -- 谢鑫。
            <a class="btn btn-default" href="http://note.youdao.com/groupshare/?token=0ED82FFD272747C1B4E51931484D494D&gid=17334351"> prd &raquo;</a>
        </p>
        <p>
            4. 新增 tab 标签页控件（高优先级，来自腾讯），100% -- 郭建强，张成。
            <a class="btn btn-default" href="http://note.youdao.com/groupshare/?token=C6E7B36308BA41D686AD1EAE9D03239B&gid=17334351"> prd &raquo;</a>
            <a class="btn btn-default" href="http://dccocosonline.applinzi.com/start.html#p=标签页属性区"> 属性区ue &raquo;</a>
        </p>

        <p>
            5. 3D地形编辑。-- 范立。
            <a class="btn btn-default" href="http://note.youdao.com/groupshare/?token=726EF063F7004CE1B2DFED621AD43DE5&gid=17334351"> prd &raquo;</a>
        </p>
        <p>
            6. Cocos Launcher（界面美化，变为扁平化风格 (高优先级）） -- 刘关强。
            <a class="btn btn-default" href=" http://anycdn-web.chinacloudsites.cn/Cocos_launcher/cocos_launcher.html"> ue &raquo;</a>
        </p>
        <p>
            7. Cocos Installer（更换Windows Installer制作工具）：100% -- 朱亮。
            <a class="btn btn-default" href="http://anycdn-web.chinacloudsites.cn/Cocos_installer/#p=cocos_installer"> ue &raquo;</a>
        </p>
        <p>
            8. 代码中不能为 ImageView 设置 SpriteFrame 100% -- 张成。
        </p>
        <p>
            9. 2D button 控件不支持多个图片拼出按钮（比如正常状态使用多张图片拼成，这种需求主要来自于按钮分成背景图片与文字图片。）（高优先级，来自腾讯） -- 韩东涛。
            <a class="btn btn-default" href="http://note.youdao.com/groupshare/?token=AD2F54034D424F7DA9CA0788E209D754&gid=17334351"> prd &raquo;</a>
        </p>
        <p>
            10. 在编辑器内部实现整体缩放，然后导出缩放后的资源： 100%    -- 谢鑫。
            <a class="btn btn-default" href="http://note.youdao.com/groupshare/?token=E80A1E9FD0EA4D97938F93660B3729DF&gid=17334351"> prd &raquo;</a>
            <a class="btn btn-default" href="http://dccocosonline.applinzi.com/start.html#p=纹理缩放"> ue &raquo;</a>
</p>
        <p>
            12. Mac版本打开大的项目非常慢，处于卡死状态。不需要prd，张彬有打开慢项目，可以找他要，100%  -- 谢鑫。
        </p>

        <h2>Cocos 3.11 新增需求：</h2>
        <p>
        <p>
            1. 主页签编辑界面, 在撤销操作后, 未保存状态能够恢复。                                              bug 具体操作流程找谢鑫。
        </p>
        <p>
            2. Cocos  Launcher支持窗口大小调整。                                                               找晓龙确认。
        </p>
        <p>
            3. 为控件的文本增加多语言支持 -- 刘北辰。
            <a class="btn btn-default" href="http://note.youdao.com/groupshare/?token=D62F627EA536405B982E9C1ECCFE4CDB&gid=17334351"> prd &raquo;</a>
            <a class="btn btn-default" href="http://dccocosonline.applinzi.com/start.html#p=多语言属性区"> 属性区ue &raquo;</a>
            <a class="btn btn-default" href="http://dccocosonline.applinzi.com/start.html#p=多语言项目设置"> 项目设置ue &raquo;</a>
        </p>
        <p>
            4. 新增的界面上修改节点名称 -- 张东猛。
            <a class="btn btn-default" href="http://note.youdao.com/groupshare/?token=180136392C954626B80BDFE53CDCA601&gid=17334351"> prd &raquo;</a>
           
        </p>
        <p>
            5. ScrollView 在编辑器中添加scroll bar显隐控制 -- 郭建强。                                                  
            <a class="btn btn-default" href="http://note.youdao.com/groupshare/?token=AD3C1C2B8AFF47788244E062FA5C61EE&gid=17334351"> prd &raquo;</a>
        </p>
        <p>
            6. 动画面板右键菜单 添加帧 不同控件列出不同帧类型 -- 郭建强。
            <a class="btn btn-default" href="http://note.youdao.com/groupshare/?token=B19E2A07305C4CE49807C84D1525AFBC&gid=17334351"> prd &raquo;</a>
            <a class="btn btn-default" href="http://dccocosonline.applinzi.com/start.html#p=添加帧属性"> ue &raquo;</a>
        </p>
        <p>
            7. 添加导入PSD格式文件资源 -- 郭伦昊。
            <a class="btn btn-default" href="http://note.youdao.com/groupshare/?token=D0A293272FD1420D9958F998FAB50747&gid=17334351"> prd &raquo;</a>
            <a class="btn btn-default" href="http://dccocosonline.applinzi.com/start.html#p=psd导入"> ue &raquo;</a>
        </p>
        <p>
            8. button支持ttf字体描边功能 -- 郭伦昊。
            <a class="btn btn-default" href="http://note.youdao.com/groupshare/?token=FA71AEEB5DF448F6ABC8D977CCE8FEFC&gid=17334351"> prd &raquo;</a>
        </p>
        <p>
            9. 3.11需要更新cocos2d-x引擎的第三方依赖库支持bitcode -- 肖峰。
        </p>
        <p>
            10. Firefox remote debug 支持，支持最新版本 Firefox  -- 张小明。
            <a class="btn btn-default" href="https://github.com/cocos2d/cocos2d-x/pull/14890"> pr地址 &raquo;</a>
        </p>
        <p>
            11. Firefox remote debug 支持，新增 Console 支持  -- 张小明。
            <a class="btn btn-default" href="https://github.com/cocos2d/cocos2d-x/pull/14895"> pr地址 &raquo;</a>
        </p>
        <p>
            12. 修复scale9sprite在gray state状态下面opacity不生效的问题  -- 屈光辉。
            <a class="btn btn-default" href=" https://github.com/cocos2d/cocos2d-x/pull/14854"> pr地址 &raquo;</a>
        </p>
        
        <h2>Cocos 优化</h2>
        <p>
        <p>
            1. 基础核心路径优化点。 
            <a class="btn btn-default" href="http://note.youdao.com/groupshare/?token=FA421493A60A45E08CB198CFFE6A0394&gid=17334351"> 打开 &raquo;</a>
        </p>
      
        <p>
            <h2>Cocos 3.11 产品需求说明书在线编辑：<a class="btn btn-default" href="http://163.fm/2cqfuYU"> 加入 &raquo;</a> </h2>
            
        </p>

        @*<p><a class="btn btn-default" href="~/Views/Test/index.html">Learn more &raquo;</a></p>*@
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>